
basedir = "/scratch/groups/assembly/shared/cmora/"
params.ont = "$basedir/easi_ont_mock*.fastq.gz"
params.illumina = "$basedir/easi_illumina/merged/corte/*_R{1,2}*.fastq.gz"

env.results_dir = "$basedir/results/test1"

//One out of bwa, minimap2
params.alignIllumina.program = "bwa"

params.filterIlluminaAlignment.include_flag_f = 0
params.filterIlluminaAlignment.exclude_flag_F = 2308 //read unmapped, not primary alignment, supplementary alignment
params.filterIlluminaAlignment.mapq = 0

params.countReadsPerReference.min_perc = 15.0
params.countReadsPerReference.max_perc = 99.9
params.countReadsPerReference.threshold_pct = 1.0

dag {
    enabled = true
    file = 'pipeline_dag.html'
}

cleanup = true