
basedir = "/home/carmoma/projects/pollen/revmet_paper_data/"
params.ont = "$basedir/ena_files_nanopore/ERR3132323/mock_mixes_nanopore_reads/mock_mixes/barcode*.fastq.gz"
params.illumina = "$basedir/ena_files_illumina/cortados/*_R{1,2}*.fastq.gz"
params.scriptsdir = "/home/carmoma/projects/pollen/myrevmet/scripts/"
conda_base = "/home/carmoma/miniforge3/envs/"

env.results_dir = "/home/carmoma/projects/pollen/myrevmet/resultados_test_cpus_filt"

params.filterOntReads.do_filter = true
params.filterOntReads.conda = "$conda_base/filtlong-env"
params.filterOntReads.min_length = 1000
params.filterOntReads.min_mean_q = 7

params.taxonFilterOnt.do_filter=true
params.taxonFilterOnt.conda="$conda_base/kraken2-env"
params.taxonFilterOnt.db='/home/carmoma/projects/pollen/kraken2_db/k2_standard_08gb_20221209'


params.filterLowComplexityRegions = true
params.getLowComplexityRegions.conda = "$conda_base/blast-env"
params.getLowComplexityRegions.window = 64 //default=64
params.getLowComplexityRegions.level = 20 //default=20
params.filterDustRegions.conda = "$conda_base/basic-env"

params.getFastQCIllumina.do_fastqc = true
params.getFastQCIllumina.conda = "$conda_base/fastqc-env"

params.trimReads.do_trim = true
params.trimReads.conda = "$conda_base/trimgalore-env"
params.trimReads.quality = 20
params.trimReads.min_length = 20

params.taxonFilterIllumina.do_filter=true
params.taxonFilterIllumina.conda="$conda_base/kraken2-env"
params.taxonFilterIllumina.db='/home/carmoma/projects/pollen/kraken2_db/k2_standard_08gb_20221209'

params.organelleFilter.do_filter = true
params.organelleFilter.from_fasta = true
params.organelleFilter.index = "/home/carmoma/projects/pollen/plastids/all_organelles.mmi"
params.organelleFilter.db = "/home/carmoma/projects/pollen/plastids/orgtest.fna.gz"
params.organelleFilter.conda = "$conda_base/minimap2-env"

//One out of bwa, minimap2
params.alignIllumina.program = "minimap2"
params.alignIllumina.bwaparams = "-a"

params.filterIlluminaAlignment.include_flag_f = 0
params.filterIlluminaAlignment.exclude_flag_F = 4 //2308 read unmapped, not primary alignment, supplementary alignment
params.filterIlluminaAlignment.mapq = 0

params.countReadsPerReference.min_perc = 1.0
params.countReadsPerReference.max_perc = 99.9
params.countReadsPerReference.threshold_pct = 1.0

params.mergeAndBin2species.conda = "$conda_base/base-env"
params.mergeAndBin2species.min_coverage = 1.0 //15 default

dag {
    enabled = true
    file = 'pipeline_dag.html'
}

params.resources.standard1.cpus= 2
params.resources.standard1.mem = "2 GB"

params.resources.standard2.cpus= 12
params.resources.standard2.mem = "12 GB"

params.resources.index.cpus= 2
params.resources.index.mem = "4 GB"

params.resources.alignment.cpus= 12
params.resources.alignment.mem = "12 GB"

params.resources.samtoolsfilter.cpus= 12
params.resources.samtoolsfilter.mem = "12 GB"

params.resources.mergeandbin2species.cpus= 12
params.resources.mergeandbin2species.mem = "12 GB"

params.resources.taxonFilterOnt.cpus=10
params.resources.taxonFilterOnt.mem="12 GB"

params.resources.taxonFilterIllumina.cpus=10
params.resources.taxonFilterIllumina.mem="12 GB"

params.resources.organelleFilterIndex.cpus=12
params.resources.organelleFilterIndex.mem="15 GB"

params.resources.organelleFilter.cpus=10
params.resources.organelleFilter.mem="12 GB"

profiles {
    conda {
      process.conda = '/home/carmoma/anaconda3/envs/new_samtools'
    }
}

cleanup = false
