
basedir = "/home/carmoma/projects/pollen/revmet_paper_data/"
params.ont = "$basedir/ena_files_nanopore/ERR3132323/mock_mixes_nanopore_reads/mock_mixes/barcode*.fastq.gz"
params.illumina = "$basedir/ena_files_illumina/cortados/*_R{1,2}*.fastq.gz"
params.scriptsdir = "/home/carmoma/projects/pollen/myrevmet/scripts/"

env.results_dir = "/home/carmoma/projects/pollen/myrevmet/resultados_test_cpus"

//One out of bwa, minimap2
params.alignIllumina.program = "bwa"
params.alignIllumina.bwaparams = "-a"

params.filterIlluminaAlignment.include_flag_f = 0
params.filterIlluminaAlignment.exclude_flag_F = 2308 //read unmapped, not primary alignment, supplementary alignment
params.filterIlluminaAlignment.mapq = 0

params.countReadsPerReference.min_perc = 1.0
params.countReadsPerReference.max_perc = 99.9
params.countReadsPerReference.threshold_pct = 1.0

dag {
    enabled = true
    file = 'pipeline_dag.html'
}
params.resources.standard1.cpus= 2
params.resources.standard1.mem = "2 GB"
params.resources.standard2.cpus= 2
params.resources.standard2.mem = "4 GB"
params.resources.alignment.cpus= 12
params.resources.alignment.mem = "12 GB"
params.resources.samtoolsfilter.cpus= 12
params.resources.samtoolsfilter.mem = "12 GB"