
basedir = "/scratch/groups/assembly/shared/projects/cmora/"
params.ont = "$basedir/easi_ont_mock/FAR76967/*.fastq.gz"
params.illumina = "$basedir/easi_illumina2/merged/*_R{1,2}*.fastq.gz"
params.scriptsdir = "/scratch/groups/assembly/shared/projects/cmora/RevMetCM/scripts/"

env.results_dir = "$basedir/results/mock1/FAR76967"

//One out of bwa, minimap2
params.alignIllumina.program = "bwa"

params.filterIlluminaAlignment.include_flag_f = 0
params.filterIlluminaAlignment.exclude_flag_F = 2308 //read unmapped, not primary alignment, supplementary alignment
params.filterIlluminaAlignment.mapq = 0

params.countReadsPerReference.min_perc = 15.0
params.countReadsPerReference.max_perc = 99.9
params.countReadsPerReference.threshold_pct = 1.0

profiles {
    conda {
      process.conda = '/software/assembly/conda/revmet/'
    }
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
}
process {
  executor = 'slurm'
  queueSize = 500
}
//cleanup = true
params.resources.standard1.cpus= 2
params.resources.standard1.mem = "4 GB"
params.resources.standard2.cpus= 2
params.resources.standard2.mem = "8 GB"
params.resources.alignment.cpus= 24
params.resources.alignment.mem = "32 GB"
params.resources.samtoolsfilter.cpus= 8
params.resources.samtoolsfilter.mem = "12 GB"
