conda.enabled = true

basedir = "/scratch/groups/assembly/shared/projects/cmora/"

params.ont = "$basedir/easi_ont_airsamples/*.fastq.gz"
params.illumina = "$basedir/easi_illumina2/merged/*_R{1,2}*.fastq.gz"

//Test files:
//params.ont = "$basedir/ont_mock_cut/*.fastq.gz"
//params.illumina = "$basedir/ont_illumina_cut/*_R{1,2}*.fastq.gz"


env.results_dir = "$basedir/results/samples_nuclear1" //mock_ontfilt_samfilt dust_mock
params.scriptsdir = "$env.results_dir/RevMetCM/scripts/"

params.filterOntReads.do_filter = true
params.filterOntReads.conda = '/software/assembly/conda/filtlong0.2.1/'
params.filterOntReads.min_length = 1000
params.filterOntReads.min_mean_q = 7

params.taxonFilterOnt.do_filter=true
params.taxonFilterOnt.conda='/software/assembly/conda/kraken2.1.2/'
params.taxonFilterOnt.db='/scratch/groups/assembly/shared/projects/cmora/results/kraken_db/k2_pluspf_20221209'

params.organelleFilter.do_filter = true
params.organelleFilter.from_fasta = true
params.organelleFilter.index = "/home/carmoma/projects/pollen/plastids/all_organelles.mmi"
params.organelleFilter.db = "/scratch/groups/assembly/shared/projects/cmora/results/chloroplast_db/all_organelles.fna.gz"
params.organelleFilter.conda = '/software/assembly/conda/revmet/'

params.filterLowComplexityRegions = true
params.getLowComplexityRegions.conda = '/software/assembly/conda/kraken2.1.2/'
params.getLowComplexityRegions.window = 64 //default=64
params.getLowComplexityRegions.level = 20 //default=20
params.filterDustRegions.conda = "/software/assembly/conda/bedtools2.30.0/"

params.getFastQCIllumina.do_fastqc = true
params.getFastQCIllumina.conda = '/software/assembly/conda/trim_galore0.6.7/'

params.trimReads.do_trim = true
params.trimReads.conda = '/software/assembly/conda/trim_galore0.6.7/'
params.trimReads.quality = 20
params.trimReads.min_length = 20

params.taxonFilterIllumina.do_filter=true
params.taxonFilterIllumina.conda='/software/assembly/conda/kraken2.1.2/'
params.taxonFilterIllumina.db='/scratch/groups/assembly/shared/projects/cmora/results/kraken_db/k2_pluspf_20221209'

//One out of bwa, minimap2
params.alignIllumina.program = "bwa"
params.alignIllumina.bwaparams = "-a"

params.filterIlluminaAlignment.include_flag_f = 0
params.filterIlluminaAlignment.exclude_flag_F = 2308 //read unmapped, not primary alignment, supplementary alignment
params.filterIlluminaAlignment.mapq = 0

params.countReadsPerReference.min_perc = 15.0
params.countReadsPerReference.max_perc = 99.9
params.countReadsPerReference.threshold_pct = 1.0

params.mergeAndBin2species.conda = '/software/assembly/conda/revmet/'
params.mergeAndBin2species.min_coverage = 5


profiles {
    conda {
      process.conda = '/software/assembly/conda/revmet/'
    }
}

dag {
    enabled = true
    file = 'pipeline_dag.html'
}
process {
  executor = 'slurm'
  queueSize = 200
  submitRateLimit = '10sec'
}
cleanup = false

params.resources.standard1.cpus= 2
params.resources.standard1.mem = "4 GB"
params.resources.standard2.cpus= 2
params.resources.standard2.mem = "8 GB"
params.resources.index.cpus= 12
params.resources.index.mem = "48 GB"
params.resources.alignment.cpus= 32
params.resources.alignment.mem = "48 GB"
params.resources.samtoolsfilter.cpus= 8
params.resources.samtoolsfilter.mem = "12 GB"
params.resources.mergeandbin2species.cpus= 12
params.resources.mergeandbin2species.mem = "32 GB"
params.resources.taxonFilterOnt.cpus=64
params.resources.taxonFilterOnt.mem="128 GB"
params.resources.taxonFilterIllumina.cpus=64
params.resources.taxonFilterIllumina.mem="128 GB"
params.resources.organelleFilterIndex.cpus=12
params.resources.organelleFilterIndex.mem="32 GB"
params.resources.organelleFilter.cpus=32
params.resources.organelleFilter.mem="48 GB"
